#.gitignore的格式规范
#空行或者#开头会被git忽略
#可以使用标准的glob模式匹配，会递归地应用在整个工作区中
#glob模式指shell所使用的简化的正则表达式，星号*匹配零个或多个任意字符；[abc]匹配任何一个列在方括号中的字符（这个例子要么匹配一个a，要么匹配一个b,要么匹配一个c）；问好？只匹配一个任意字符；如果在方括号中使用短划线分隔两个字符，表示所有在这两个字符范围内的都可以匹配（比如[0-9]表示匹配所有0到9的数字）
#匹配模式可以以（/）开头防止递归
#匹配模式可以以（/）结尾指定目录
#要忽略指定模式以外的文件或目录，可以在模式前加上叹号（！）取反

*.[oa]
#忽略所有以.o或.a结尾的文件
!lib.a
#跟踪所有的lib.a
/TODO
#只忽略当前目录下的TODO文件
build/
#忽略任何目录下名为build的文件夹
*~
#忽略所有以～结尾的文件

